<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="1" preserve-order="true" name="/Users/91989/Downloads/jollyautomation - Copy-20240426T180954Z-001/jollyautomation - Copy">
        <classes>
            <class name="test.java.day1.HomePageTest">
                <methods>
                    <include name="homePageTitleTest"/>
                    <include name="homePageloginbtnPresenceTest"/>
                    <include name="homePagefeatureLinkPresenceTest"/>
                    <include name="homePagepriceLinkPresenceTest"/>
                    <include name="homePageblogLinkPresenceTest"/>
                    <include name="homePagefacebookBtnPresenceTest"/>
                    <include name="homePagegoogleBtnPresenceTest"/>
                    <include name="homePagesignupBtnTest"/>
                    <include name="homePageseeFeaturesBtnTest"/>
                    <include name="homePageseePricingBtnTest"/>
                    <include name="homePagepopularConsultantTest"/>
                    <include name="homePagepopularConsultantLinkTest"/>
                </methods>
            </class>
            <class name="test.java.day1.HomePageTest">
                <methods>
                    <include name="LoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>